<div class="container-all center-content gradient">
    <mat-card class="center-content">
        <mat-card-header class="center-content">
            <img class="image" src="assets/img/title.svg" alt="randomAQ" />
        </mat-card-header>
        <mat-card-content [ngClass]="{'mat-card-content-message':!isActivating}" >
            
            <h1>{{title}}</h1>
            <h3>{{message}}</h3>
            <!------------messages------------->
            <button *ngIf="!isActivating" class="btn" type="button" routerLink="/login" mat-raised-button color="primary"> Sign In </button>
            <!------------verificate account------------->
            <form *ngIf="isActivating" (ngSubmit)="activate()" class="full-width">
                    
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Username</mat-label>
                    <mat-icon matPrefix>account_circle</mat-icon>
                    <input required matInput type="text" placeholder="Username" [formControl]="username" name="username" >
                    <mat-error>Username is required</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Code</mat-label>
                    <mat-icon matPrefix>vpn_key</mat-icon>
                    <input required matInput type="text" placeholder="Code" [formControl]="code" name="code" >
                    <mat-error>Code is required</mat-error>
              </mat-form-field>
                <button class="btn" type="submit" mat-raised-button color="primary"> Activate </button>
            </form>
            <p  *ngIf="isActivating" style="text-align: center;">Already have an account? <a class="link" routerLink="/login">Sign In</a></p>
            <ngx-spinner type = "ball-scale-pulse" [fullScreen]="false"></ngx-spinner>
        </mat-card-content>
    </mat-card>
</div>