mat-card {
    width: 60%;
}

.btn {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}

.mat-card-content-message {
    text-align: center;
    padding-top: 2em;
    h3 {
        padding-bottom: 2em;
    }
}

.mat-card-content {
    text-align: center;
    padding-top: 2em;
}