<div class="container-all center-content gradient">
    <mat-card class="center-content">
        <mat-card-header class="center-content">
            <img class="image" src="assets/img/title.svg" alt="randomAQ" />

        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="recoverForm" (ngSubmit)="submit()">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <mat-icon matPrefix>alternate_email</mat-icon>
                    <input required matInput type="text" placeholder="Email" formControlName="email" >
                    <mat-error>User is required</mat-error>
                  </mat-form-field>

                  <button class="btn-submit" mat-raised-button color="primary">Reset Password</button>
            </form>
            <p style="text-align: center;">No account? <a class="link" routerLink="/register">Create One</a></p>
            <p style="text-align: center;">Already have an account? <a class="link" routerLink="/login">Sign In</a></p>

        </mat-card-content>
    </mat-card>
</div>