.container {
    width: 100%;
    min-height: 100vh;
    height: auto;
    padding-bottom: 2em;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-left: 1em;
    padding-right: 1em;
    grid-gap: 1em;
}

.card {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card .image {
    width: 65%;
    height: auto;
}

.card h3 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: bold;
}
