<ion-content>
  <div class="container gradient">
    <ion-card class="card">
      <div class="content">
        <div class="title">
          <img class="image" [src]="category.image" [alt]="category.name" />
        <h2>{{category.name}}</h2>
        </div>
        <div class="question">
          <p>{{question.content}}</p>
        </div>
        <div class="anwer">
          
        </div>
        <app-clock></app-clock>
        <div class="buttons">

        </div>
      </div>
    </ion-card>
  </div>
</ion-content>
